:root{
    /* theme */
    --color-primary: #8fa1b3;
    --color-secondary: #cdd5d9;
    --color-secondary: #cdd5d9;
    --color-accent: #b48ead;
    --color-background: #f5f5f5;
    --color-text: #2e3440;
    --color-text-secondary: #4c566a;

    /* other colors */
    --color-warning: #bf616a;
    --color-code-text: var(--color-background);
    --color-code-background: var(--color-text);
    --color-console-command: #ed8f73;
    --color-console-argument: var(--color-code-text);

    /* utils */
    --link: var(--color-text-secondary);
    --link_v: var(--color-text);
    --link_h: var(--color-text-secondary);
    --highligth: var(--color-primary);
}
